.flex-center {
    display: flex;
    justify-content: center;
}

.error-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.error-h1 {
    color :#FF6060;
    font-size: 288px;
    font-weight: 700;
    margin: 0;
}

.error-text {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    text-align: center;
}

.return-text {
    color: black;
    font-size: 18px;
}

@media (max-width: 768px) {

    .error-content {
        height: 100%;
        padding-top: 50px;
        gap: 100px;
    }

    .marginLeftRight {
        margin-left: 20px;
        margin-right: 20px;
    }

    .error-h1 {
        font-size: 96px;
    }

    .error-text {
        font-size: 18px;
    }

    .return-text {
        font-size: 14px;
    }
}